---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import MenuHamburguesa from '../components/MenuHamburguesa.astro';
import Menu from '../components/Menu.astro';
import Wp from "../components/Wp.astro";

---
<Layout title="Hernan Masajes | salta, Argentina">
	<main>
        <MenuHamburguesa/>
		<Menu></Menu>
        <!-- Crear bien el diseño de contacto -->
        <div class=" bg-orange-400 w-[90%] my-5 text-center m-auto marco ">
            <p class="text-white">Razones por las que no podrías tomar un masajes:<br>Si tienes fiebres.<br>Si tienes alguna enfermedad en la piel que sea contagiosa <br>Que te hayas operado recientemente.<br>Si tienen Diarrea</p>

        </div>
		<Footer></Footer>
        <Wp/>

	</main>
</Layout>

<style>
    .marco{
        border-radius: 15px ;
    }
</style>