---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import Cuerpos from '../components/Cuerpo.astro';

---
<Layout title="Hernan Masajes | Cuidado corporal en salta, Argentina">
	<main>

		<Menu></Menu>
		<Cuerpos></Cuerpos>
		<Footer></Footer>
	</main>
</Layout>

<style>
.princi{
	background-image: url("../img/fondo.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	
}
.bgblur{
	background-color: #00000042;
	backdrop-filter: blur(8px);
	height: 100%;
	align-items: center;
}
</style>