---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import Tarjetas from '../components/Tarjetas.astro';
import { listamasaje } from "../lib/masajes";

---
<Layout title="Hernan Masajes | masajes en salta, Argentina">
	<main>

			
		</div>
		<Menu></Menu>
		{
			listamasaje.map((listamasaje) => <Tarjetas listamasajes ={listamasaje}/>)
		}
		<Footer></Footer>
	</main>
</Layout>

<style>
.princi{
	background-image: url("../img/fondo.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	
}
.bgblur{
	background-color: #00000042;
	backdrop-filter: blur(8px);
	height: 100%;
	align-items: center;
}
</style>