---
---


<div class="fondo-foto my-20">
    <div class="negri">

        <img class="m-auto my-5 w-[100px] h-[100px]" src="/src/img/logo.png" alt="" srcset="">
        <div class="h-[3px] bg-amber-400 linea"></div>
        <p class="text-white text-center w-96 lg:w-3/4 my-4 text-[18px] lg:text-[24px] m-auto"><strong class="text-[orange]"> ¡MASAJES!</strong> Permítete  experimentar la estimulante sensación de ver cómo tu cuerpo se energiza con un masaje hecho de forma profesional.
            Deja que tu cuerpo fluya al ritmo de los movimientos y técnicas aplicadas,  mientras aprendes a administrar el gran caudal de energía que emana de tu cuerpo, para encontrarte contigo mismo!
            Prueba y entenderás!</p>
    </div>
</div>

<style>
    .fondo-foto{
        background-image: url(/src/img/fondo-bienvenida.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 450px;
        
    }
    .negri{
        background-color: rgba(0, 0, 0, 0.596);
        height: 450px;
        
    }
    .linea{
        border-radius: 25px;
        width: 50%;
        margin: auto
    }
</style>