---
---


<div class="fondo-foto my-20">
    <div class="negri">

        <img class="m-auto my-5 w-[100px] h-[100px]" src="/src/img/logo.png" alt="" srcset="">
        <div class="h-[3px] bg-amber-400 linea"></div>
        <p class="text-white text-center w-[70%] my-4  text-[26px] m-auto"><strong class="text-[orange]">¡Te damos la bienvenida a Hernan Masajes!</strong> Descubre cómo nuestros masajes mejoran la circulación de tu cuerpo, limpian toxinas de tus musculos, realzan la postura y fortalecen la autoestima. Con nuestros masajistas, experimenta una relajación profunda que libera el estrés y revitaliza cuerpo y mente.</p>
    </div>
</div>

<style>
    .fondo-foto{
        background-image: url(/src/img/fondo-bienvenida.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 450px;
        
    }
    .negri{
        background-color: rgba(0, 0, 0, 0.596);
        height: 450px;
        
    }
    .linea{
        border-radius: 25px;
        width: 50%;
        margin: auto
    }
</style>