---
// import CuidadoCuerpo from '../components/CuidadoCuerpo.jsx'
---


<div class="w-[90%] bg-slate-500 m-auto text-center my-10 text-white foto">
    <div class="negri">
        <div class="bg-title ">
            <h2 class="text-2xl ps-4 text-start bg-title ">Cuidado Corporal</h2>
            <p class="text-md lg:text-lg">Cuidemos el cuerpo con estiramientos, ejercicios funcionales y esferodinamia, actividades que ayudan también a la relajación de la mente y cuerpo</p>
        </div> 
    
        <button class="w-[60%] lg:w-1/4 btn-contacto shadow-black "><a href="#">Solicita tu turno aquí</a></button>
    </div>

</div>



<style>
        .foto {
            background-image: url(../img/depilacion.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
        }
        .negri {
            background-color: rgba(0, 0, 0, 0.438);
        }
        .btn-per {
            width: 60%;
            border-radius: 5px;
            border: 1.5px solid;
            border-color: rgba(247, 189, 86, 1);
            margin-top: 15px;
            margin-bottom: 15px;

            /* &&:hover{
        animation: slideDown .3s forwards ;
        
    } */
        }
        .btn-contacto {
            
            border-radius: 5px;
            background-color: rgba(247, 189, 86, 1);
            border: 1.5px solid;
            border-color: rgb(224, 199, 58);
            margin-top: 15px;
            margin-bottom: 15px;

            &&:hover {
                background-color: #f39308;
                transition: 200ms;
            }
        }
        .bg-title {
            background-color: rgba(79, 79, 79, 0.517);
            

            border-radius: 5px 5px 0px 0px;
        }
        .d-block {
            width: 60%;
            background-color:#f39308;
            margin: auto;
            border-radius: 10px;
            animation: slideDown 0.3s forwards;
        }
        .d-none {
            display: none;
            /* animation: slideUp .5s ; */
        }
        .hidden-css {
            width: 80%;
            background-color: rgba(247, 189, 86, 1);
            margin: auto;
            border-radius: 10px;
            animation: slideUp 0.3s forwards;
        }

        @keyframes slideDown {
            0% {
                height: 0%;
                opacity: 0;
                transform: translateY(-30px);
            }

            100% {
                opacity: 1;
                transform: translateY(0px);
                height: 100%;
            }
        }

        @keyframes slideUp {
            0% {
                height: 100%;
                opacity: 1;
            }
            100% {
                transform: translateY(-30px);
                opacity: 0;
                display: none;
            }
        }
</style>