---
import CuidadoCuerpo from '../components/CuidadoCuerpo.jsx'
---


<div class="w-[80%] bg-slate-500 m-auto text-center my-10 text-white foto">
    <div class="negri">

        <h2 class="text-2xl ps-4 text-start bg-title ">Estética Corporal</h2>
        <CuidadoCuerpo client:idle>
            <button class="btn-per" id="btn11" slot="boton1">Afeitado del vello corporal</button>
            <p class="d-none" id="texto11" slot="texto1">Puedes sentir la sensación de higiene y menos olores desagradables con un buen afeitado corporal.
                Atletas de diferentes disciplinas lo han adoptado por sus beneficios.
                Tú puedes ser uno de los que experimentan la sensación de limpieza!</p>
            <button class="btn-per" id="btn12" slot="boton2">Depilación con cera</button>
            <p class="d-none" id="texto12" slot="texto2">Un escalón más arriba en comparación al afeitado, ya que la depilación con cera , aparte de la higiene corporal y menos olores, ayuda en parte a exfoliar la piel. Dejando como resultado una piel con brillo y con una suavidad al tacto muy llamativa. </p>
            <button class="btn-per" id="btn13" slot="boton3">Exfoliación Corporal</button>
            <p class="d-none" id="texto13" slot="texto3" class="pb-5">Disfruta de una mini sesión de masajes relajantes, pero con una crema que ayuda a exfoliar la piel, quitando células muertas, permitiendo que ésta se renueve, humectandola, dejando una sensación agradable luego de una ducha.</p>
        </CuidadoCuerpo>
    
        <button class="btn-contacto shadow-black"><a href="#">Solicita tu turno aquí</a></button>
    </div>

</div>



<style>
        .foto {
            background-image: url(../img/depilacion.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
        }
        .negri {
            background-color: rgba(0, 0, 0, 0.438);
        }
        .btn-per {
            width: 60%;
            border-radius: 5px;
            border: 1.5px solid;
            border-color: rgba(247, 189, 86, 1);
            margin-top: 15px;
            margin-bottom: 15px;

            /* &&:hover{
        animation: slideDown .3s forwards ;
        
    } */
        }
        .btn-contacto {
            width: 40%;
            border-radius: 5px;
            background-color: rgba(247, 189, 86, 1);
            border: 1.5px solid;
            border-color: rgb(224, 199, 58);
            margin-top: 15px;
            margin-bottom: 15px;

            &&:hover {
                background-color: #f39308;
                transition: 200ms;
            }
        }
        .bg-title {
            background-color: rgba(79, 79, 79, 0.517);
            border-radius: 5px 5px 0px 0px;

        }
        .d-block {
            width: 60%;
            background-color:#f39308;
            margin: auto;
            border-radius: 10px;
            animation: slideDown 0.3s forwards;
        }
        .d-none {
            display: none;
            /* animation: slideUp .5s ; */
        }
        .hidden-css {
            width: 60%;
            background-color: rgba(247, 189, 86, 1);
            margin: auto;
            border-radius: 10px;
            animation: slideUp 0.3s forwards;
        }

        @keyframes slideDown {
            0% {
                height: 0%;
                opacity: 0;
                transform: translateY(-30px);
            }

            100% {
                opacity: 1;
                transform: translateY(0px);
                height: 100%;
            }
        }

        @keyframes slideUp {
            0% {
                height: 100%;
                opacity: 1;
            }
            100% {
                transform: translateY(-30px);
                opacity: 0;
                display: none;
            }
        }
</style>