---
---

<div class="princi">
    <div class="bgblur text-center  my-3 text-white">
        <p class=" px-20 pt-16 text-[20px]">Sólo atendemos con cita previa. Para programar cualquier servicio con nosotros puedes hacerlo a través de nuestro Whatsaap o por teléfono móvil, sólo tienes que elegir el servicio que quieres y la mejor hora para ti, comprobaremos la disponibilidad y ¡listo! Ya estás debidamente programado y esperamos tu llegada para vivir tu experiencia con nosotros.</p>
		<h3 class="text-xl my-16">¿Necesitas ayuda?, Comunicate con Nosotros</h3>
		<img class="my-6 wp " src="/src/img/whatsapplogo.png" alt="logo wp" srcset="">
		<a class="text-xl my-20">+ 54 9 3874753268</a>
		<br>
		<p class="my-16 text-xl">Seguinos en nuestras redes:</p>
		<div class="flex justify-center my-5">
			<img src="/src/img/faceLogo.png" alt="logo face" srcset="">
			<a>Hernan Masajes</a>
		</div>
		<div class="flex mb-5 justify-center">
			<img src="/src/img/instagramLogo.png" alt="logo instagram" srcset="">
			<a>@masajeshernan</a>
		</div>

    </div>
</div>



<style>
	.wp{
		margin-inline: auto;

	}
.princi{
	background-image: url("../img/fondo.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	
}
.bgblur{
	background-color: #00000042;
	backdrop-filter: blur(8px);
	height: 100%;
	align-items: center;
}
a{
	cursor: pointer;
	&&:hover{
		color: #F7BD56;
		transition: all 0.2s;
	}
}
</style>