---
import { Image } from 'astro:assets';
import logo from '../img/logo.png'
---
<nav class=" overflow-hidden flex  justify-between z-10  lg:sticky lg:top-0  ">
    <Image src={logo} class=" hidden lg:block lg:w-[100px] lg:h-[100px] ms-5 mb-1 " alt="" srcset=""/>
    <ul class="hidden lg:flex lg:gap-0 text-sm lg:text-center lg:space-x-9 lg:me-5 ">
        <li><a href="/">Inicio</a></li>
        <li><a href="/#/masajes">Masajes</a></li>
        <li><a href="/cuerpo">Cuidado del cuerpo</a></li>
        <li><a href="/estetica">Estetica Corporal</a></li>
        <li><a href="/contacto"class="btn-contacto">Contacto</a></li>
    </ul>
</nav>


<style>
    nav{
        background-color: #1e1e1e;
        margin-top: 5px;
    }
    ul{
        align-items: center;
        color: white
    }
    .btn-contacto{
        background-color: #F7BD56;
        padding: 5px;
        border-radius: 6px;
        &&:hover{
            background-color: grey;
        }
    }
    .inicio{
        color: #F7BD56;
    }
    a{
        cursor: pointer;
    }
    a:hover{
        color: #F7BD56;
    }
</style>