---
import MenuHamburguesas from '../components/MenuHamburguesa2.jsx'
---

<MenuHamburguesas client:idle>

    <div slot="div" class="bg-slate-500 overflow-hidden  flex flex-col text-center lg:hidden  z-10 sticky top-0 h[100%] w-[100%]">
    <nav class="">
        <div id="hambur" class="m-4  h-5">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul id="lista" class="grid mb-7 hidden-css hidden  gap-7 text-white ">
            <li><a href="/">Inicio</a></li>
            <li><a href="/masajes">Masajes</a></li>
            <li><a href="/cuerpo">Cuidado del cuerpo</a></li>
            <li><a href="/estetica">Estetica Corporal</a></li>
            <li><a href="/contacto"class="btn-contacto">Contacto</a></li>
        </ul>
    </nav>
    </div>
</MenuHamburguesas>



<style>
    .line{
        
        background-color: #F7BD56;
        height: 2px;
        width: 30px;
        border-radius: 5px;
        margin-top: 5px;
    }
    nav{
        background-color: #1e1e1e;
    }
    .btn-contacto{
        background-color: #F7BD56;
        padding: 5px;
        border-radius: 6px;
    }
    .d-block {
            animation: slideDown 0.5s forwards;
        }
    .hidden-css {
            animation: slideUp 0.3s forwards;
        }

    @keyframes slideDown {
            0% {
                height: 0%;
                opacity: 0;
                transform: translateY(-30px);
            }

            100% {
                opacity: 1;
                transform: translateY(0px);
                height: 100%;
            }
        }

        @keyframes slideUp {
            0% {
                height: 100%;
                opacity: 1;
            }
            100% {
                transform: translateY(-30px);
                opacity: 0;
                display: none;
            }
        }
</style>