---
---
<nav class="flex  justify-between z-10 sticky top-0 ">
    <img src="/src/img/logo.png" class="w-[100px] h-[100px] ms-5 mb-1" alt="" srcset="">
    <ul class="flex text-center space-x-9 me-5 ">
        <li><a href="/">Inicio</a></li>
        <li><a href="/masajes">Masajes</a></li>
        <li><a href="/cuerpo">Cuidado del cuerpo</a></li>
        <li><a href="/estetica">Estetica Corporal</a></li>
        <li><a class="btn-contacto">Contacto</a></li>
    </ul>
</nav>


<style>
    nav{
        background-color: #1e1e1e;
        margin-top: 5px;
    }
    ul{
        align-items: center;
        color: white
    }
    .btn-contacto{
        background-color: #F7BD56;
        padding: 5px;
        border-radius: 6px;
        &&:hover{
            background-color: grey;
        }
    }
    .inicio{
        color: #F7BD56;
    }
    a{
        cursor: pointer;
    }
    a:hover{
        color: #F7BD56;
    }
</style>