---

---

<div class="text-white fondoServicios">
    <div class="negri">
        <div class="flex justify-between ">
            <h3 class="ms-20 mt-[30px] text-[40px]">Nuestros Servicios</h3>

            <ul class="me-20 text-xl text-center">
                <li class="mt-20"><a href="/masajes" data-astro-prefetch="load">Masajes</a></li>
                <div class="linea bg-amber-400"></div>
                <li class="mt-20"><a>Cuidado del Cuerpo</a></li>
                <div class="linea bg-amber-400"></div>
                <li class="mt-20"><a>Estetica Corporal</a></li>
                <div class="linea bg-amber-400"></div>
            </ul>
        </div>
        <img
            class="w-[220px] h-[172] mt-20 ms-9"
            src="/src/img/flor.png"
            alt="flor"
            srcset=""
        />
        
    </div>
</div>

<style>
    a {
        cursor: pointer;

        &&:hover {
            color: rgb(251, 191, 36);
            transition: all 0.2s;
        }
    }
    .fondoServicios {
        height: 602px;
        background-image: url("../img/pexels-monstera-production-6620860.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .negri {
        background-color: #e4991754;
        height: 100%;
    }
    .linea {
        border-radius: 25px;
        width: 100%;
        height: 3px;
    }
</style>
