---
import { Image } from 'astro:assets';
import flor from '../img/flor.png'
---

<div class="text-white fondoServicios">
    <div class="negri">
        <div class=" justify-center lg:flex  lg:justify-between ">
            <h3 class="text-center lg:ms-20 mt-[30px] text-[40px]">Nuestros Servicios</h3>

            <ul class="text-[25px]  lg:me-20 lg:text-2xl text-center">
                <li class="mt-20"><a href="/Hernan-Masajes2.0/masajes">Masajes</a></li>
                <div class="linea m-auto w-[50%] lg:w-96  lg:block bg-amber-400"></div>
                <li class="mt-20"><a href="/Hernan-Masajes2.0/cuerpo">Cuidado del Cuerpo</a></li>
                <div class="linea m-auto w-[50%] lg:w-96 lg:block bg-amber-400"></div>
                <li class="mt-20"><a href="/Hernan-Masajes2.0/estetica">Estetica Corporal</a></li>
                <div class="linea m-auto w-[50%] lg:w-96  lg:block bg-amber-400"></div>
            </ul>
        </div>
        <Image
            class="w-[140px] lg:w-[220px] lg:h-[172] lg:mt-20 mt-16  lg:ms-9 m-auto"
            src={flor}
            alt="flor"
            srcset=""
        />
        
    </div>
</div>

<style>
    a {
        cursor: pointer;

        &&:hover {
            color: rgb(251, 191, 36);
            transition: all 0.2s;
        }
    }
    .fondoServicios {
        height: 602px;
        background-image: url("../img/pexels-monstera-production-6620860.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .negri {
        background-color: #66450c54;
        height: 100%;
    }
    .linea {
        border-radius: 25px;
        height: 3px;
        
    }
</style>
