---
import logoWap from '../img/whatsapplogo.png'
import { Image } from 'astro:assets';


---
<!-- <h1 class="text-white">Hola</h1> -->
<a href="#" class="flex justify-end bottom-0 sticky">
    <Image class="text-white w-[40px] me-5 mb-9" src={logoWap} alt="Logo" srcset="">

</a>
